* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--corTxt);
}

html {
    scroll-behavior: smooth;
}

:root {
    --corDestaqueAmarelo: #FFE515;
    --corDestaqueVermelho: #ED2D23;
    --corDestaqueAzul: #40B4F5;
    --corBg1: #222125;
    --corBg2: #414141;
    --corBgBlack: #000;
    --corTxt: #fff;
    --marginLateral: 0 10%;
}

/* fonts */
@font-face {
    font-family: 'montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'loraTitulo';
    src: url('../assets/fonts/lora/Lora-Regular.ttf');
}

h1,
h2 {
    font-family: 'loraTitulo', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

h3 {
    font-family: 'montserrat';
    font-size: 2.0em;
    font-weight: 200;
}


p,
a {
    font-family: 'montserrat';
    font-size: 1.3em;
}

/* fontDetails */
.title {
    margin: 50px 10px;
}

#aboutUsTxt {
    margin: 0px 0px 25px 0px;
}

/* effects */
#headerOpt:hover {
    transition: ease-in-out 300ms;
    color: #40B4F5;
}

#headerOptions {
    margin: var(--marginLateral);
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50px;
    border-bottom: 2px solid var(--corTxt);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--corBg1);
}

span {
    color: var(--corDestaqueAmarelo);
}

/* assets */
.icon {
    width: 32px;
    height: 32px;

    margin: 0px 15px;
}
#iconLanguage {
    margin: 0px 0px 0px 15px;
}

/* functionalElements */
button {
    display: flex;
    flex-direction: row;

    background: none;

    border-color: var(--corTxt);
    border-width: 2px;
    border-radius: 15px;

    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
button:hover {
    border-color: var(--corDestaqueAzul);
}

label {
    font-family: 'montserrat';
    font-size: 1.3em;
}

input {
    background: none;

    border-color: var(--corTxt);
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    padding-left: 10px;
}

.formInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    margin-top: 20px;

}

#formBase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    justify-items: stretch;
    align-items: center;
    margin: 0 auto;
    max-width: 85%;
    margin-top: 5em;
}

/* sections */
.spacingMargin {
    margin: var(--marginLateral)
}

section {
    scroll-margin-top: 150px;
    margin-top: 10em;
}
#iframeSection {
    margin-top: 100px;
    scroll-margin-top: 150px;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;


    z-index: 10;
}

.headerInfoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    margin: 2em 0em;
}

#headerInfo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.3s ease;
}

#headerLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header.background {
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/imgs/bgLandingPage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#landingPage {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    width: 100%;
    height: 100%;
}
#landingPageTitle {
    margin-bottom: 50px;
}

#aboutUs {
    display: flex;
    flex-direction: row;
}

#lateralBarAboutUs {
    background-color: var(--corDestaqueVermelho);
    width: 15px;
    height: auto;
}

#infoAboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}

#imgAboutUs {
    width: 40%;
    height: auto;
}

#location {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#locationInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 2px solid var(--corDestaqueVermelho);
    padding: 3em;


    height: 700px;
}

#locationMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--corDestaqueVermelho);
    padding: 2em;
    width: 100%;
}

#map {
    display: flex;
    border: 2px solid var(--corDestaqueVermelho);

    width: 100%;
    height: 100%;
}

#yaleNewsletter {
    display: flex;
    background-image: url('../assets/imgs/bgNewsletter.png');
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

#newsletterTitle {
    margin: 0;
    position: absolute;
    right: 100px;

}

#sectionNews {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 15px;
}

#sectionWideNews {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
    margin-right: 50px;
}

#sectionThinNews {
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow: hidden;
}

.news {
    padding: 15px;
    background-color: var(--corBg2);
    margin-bottom: 50px;
}

#newsTitleMargin {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'lora';
    font-size: 1.6em;
}

.imgNews {
    width: 100%;
    height: auto;
}

#divisionLineNews {
    display: flex;
    width: 100%;
    height: 25px;
    margin: 25px 0px;
}

#lineLeft {
    background-color: var(--corDestaqueAzul);
    width: 70%;
}

#lineRight {
    background-color: var(--corDestaqueAmarelo);
    width: 30%;
}

#workWithUs {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/imgs/workWithUsBg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;

    justify-content: center;
}

footer {
    display: flex;

    flex-direction: column;
    width: 100%;
    margin: var(--marginLateral);

    justify-content: center;
    align-items: center;

    background-color: var(--corBgBlack);
}

#footerTitleArea {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 15px
}

#footerTitle {
    margin: 0px 15px
}

#footerOptions {
    width: 100%;
}
#footerTitles {
    display: flex;
    width: 80%;
    align-items: center;
}
#footerSectionsTitle {
    width: 60%;
}
#footerSocialMediaTitle {
    width: 40%;
}
.footerTitles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
#footerOptions {
    display: flex;
    flex-direction: row;
    margin: var(--marginLateral);
    margin-top: 15px;
    width: 80%;
    justify-content: center;
    border: 2px solid var(--corBg2);
    border-left: none;
    border-right: none;
    padding: 25px 0px;
}

#footerSections {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);  
    width: 50%; 
    gap: 50px; 
}

#footerDivision {
    display: flex;
    justify-content: center;
    width: 10%;
}
#footerLine {
    display: flex;
    width: 2px;
    height: 100%;
    background-color: #414141;
}

#footerSocialMedia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); 
    width: 40%; 
    gap: 25px; 
}

.socialMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
} 
 .social {
    transition: ease-in-out 300ms;
    margin-right: 15px;
    width: 50px;
    height: 50px;
 }
 .socialTxt {
    color: #414141;
    transition: ease-in-out 300ms;
    font-size: 1.1em;
 }

#imgInstagram {
    background-image: url('../assets/icons/instaGray.png');
}
#socialInsta:hover #imgInstagram {
    background-image: url('../assets/icons/insta.png');
}
#socialInsta:hover #socialInstaTxt {
    color: var(--corTxt);
}



#imgFacebook {
    background-image: url('../assets/icons/fbGray.png');
}
#socialFB:hover #imgFacebook {
    background-image: url('../assets/icons/fb.png');
}
#socialFB:hover #socialFBTxt {
    color: var(--corTxt);
}



#imgYoutube {
    background-image: url('../assets/icons/ytGray.png');
}
#socialYT:hover #imgYoutube {
    background-image: url('../assets/icons/yt.png');
}
#socialYT:hover #socialYTTxt {
    color: var(--corTxt);
}



#imgX {
    background-image: url('../assets/icons/xGray.png');
}
#socialX:hover #imgX {
    background-image: url('../assets/icons/x.png');
}
#socialX:hover #socialXTxt {
    color: var(--corTxt);
}